<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <img src="/assets/brand/Logo2.png" alt="" width="70" height="64" class="d-inline-block align-text-top logo">
      Bootstrap
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/carrito">Carrito</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/iniciar sesion">Iniciar sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/registro">Registrate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/productos">Productos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
