<div class="container">
    <h1 style="text-align: center; margin-bottom: 50px;">Productos disponibles</h1>
    <div style="float: right;" class="col-4">
    <div class="input-group rounded" style="margin-bottom: 40px;">
      <input type="search" class="form-control rounded" placeholder="Ingrese criterio de búsqueda" aria-label="Search"
      aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary">Buscar</button>
    </div>
    </div>
    <table class="table" style="text-align:right;">
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Empanadas</td>
            <td>$1.500</td>
            <td>Carne</td>
                <button type="button" style="margin-right: 20px;" class="btn btn-outline-info">Editar</button>
                <button type="button" style="margin-right: 20px;" class="btn btn-outline-danger">Eliminar</button>
              </tr>
        </tbody>
    </table>
  </div>

<!--<tr *ngFor="let producto of productos; let i = index">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ producto.Nombre }}</td>
    <td>{{ producto.Tipo }}</td>
    <td>{{ producto.Precio }}</td>
    <td>{{ producto.Descrip }}</td>
    <td>{{ producto.Foto }}</td>
    <td><button type="button" class="btn btn-danger" (click)="eliminarCancion(cancion.idcanciones)">Eliminar</button></td>
    </tr>-->