<div class="card-footer text-muted footer">
    <p id= "texto">Mercamas.com</p>
    <p>Contacto: alienigena</p>
    <p>Creadores: El mejor grupo, traido de donde traen los mejores grupos</p>
</div>


